In [1]:
import numpy as np

In [2]:
from numpy.random import randn

In [3]:
data = {i : randn() for i in range(7)}

In [4]:
data

{0: -0.43483993972002144,
 1: -2.845273636751793,
 2: -0.5145914727195782,
 3: -0.7132889502177596,
 4: -0.6812851449629801,
 5: -1.3073234670165106,
 6: -0.24673727456237918}

In [5]:
%magic

In [6]:
a=1;b=2;c=3

In [7]:
c

3

In [12]:
a=[1,2,3]

In [13]:
b=a

In [14]:
b.append(4)

In [15]:
a

[1, 2, 3, 4]

In [16]:
def append_alement(some_list,element):
    some_list.append(element)

In [17]:
data=[1,2,3]

In [18]:
append_alement(data,5)

In [19]:
data

[1, 2, 3, 5]

In [20]:
a=5

In [21]:
isinstance(a,(str))

False

In [22]:
a='foo'

In [23]:
getattr(a,'split')

In [24]:
import Cluster Não-Hierarquico

SyntaxError: invalid syntax (<ipython-input-24-a6a974d30de7>, line 1)

In [35]:
import some_file

ModuleNotFoundError: No module named 'some_file'

In [47]:
13//3

4

In [62]:
c = """This is a longer string that
spans multiple lines
"""

In [63]:
c.count('\n')

2

In [64]:
a = 'this is a string'

In [68]:
a.replace('string','longer string')

'this is a longer string'

In [69]:
a=6

In [71]:
print(str(a))

6

In [72]:
s='phyton'

In [77]:
s[3:]

'ton'

In [78]:
print('2\\3')

2\3

In [79]:
s= r'This\is\especial\char'

In [80]:
s

'This\\is\\especial\\char'

In [25]:
a='this is a first raw';b=' and this is a second raw'

In [26]:
a+b

'this is a first raw and this is a second raw'

In [27]:
%pwd

'C:\\Users\\eduardo.zanutti\\OneDrive - Apsen Farmaceutica S A\\Documentos\\jupyter_notebook\\mba_datascience'

In [28]:
b=[1,2,3]

In [29]:
b?

In [30]:
np?

In [31]:
print?

In [39]:
def add_number(a,b):
    """
Add two numbers together
Returns
-------
the_sum : type of arguments
"""
    return a+b

In [40]:
add_number??

In [41]:
np.

TypeError: 'module' object is not callable

In [51]:
np.*.*?

In [53]:
x=5
y=7
if x>5:
    x+=1
    y=8

In [55]:
%cpaste

UsageError: Line magic function `%cpaste` not found.

In [58]:
a = np.random.randn(100, 100)
%timeit np.dot(a, a)

42.3 µs ± 1.09 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [59]:
%timeit?

In [60]:
pwd

'C:\\Users\\eduardo.zanutti\\OneDrive - Apsen Farmaceutica S A\\Documentos\\jupyter_notebook\\mba_datascience'

In [61]:
%quickref

In [63]:
%matplotlib inline

In [65]:
a='foo'

In [66]:
getattr(a,'spli')

AttributeError: 'str' object has no attribute 'spli'

In [68]:
a=2;b=3

In [74]:
a is not b

True

In [2]:
import bisect

In [3]:
c = [1, 2, 2, 2, 3, 4, 7]

In [11]:
bisect.insort(c,6)

In [12]:
c

[1, 2, 2, 2, 3, 4, 6, 7]

In [21]:
bisect.bisect(c,3)

5

In [22]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]

In [40]:
seq[-2:8]

[0, 1]

In [41]:
len(seq)

8

In [43]:
seq[-2:7]

[0]

In [45]:
seq[7]

1

In [46]:
i = 0
for value in collection:
# do something with value
i += 1

IndentationError: expected an indented block (<ipython-input-46-e0724b15168d>, line 4)

In [47]:
for a in enumerate(seq):
    seq[a].append('b')

TypeError: list indices must be integers or slices, not tuple

In [ ]:
l1 = ["eat","sleep","repeat"]
s1 = "geek"
 
# creating enumerate objects
obj1 = enumerate(l1)
obj2 = enumerate(s1)
 
print ("Return type:",type(obj1))
print (list(enumerate(l1)))
 
# changing start index to 2 from 0
print (list(enumerate(s1,2)))

In [48]:
l1 = ["eat","sleep","repeat"]
s1 = "geek"

In [49]:
l1

['eat', 'sleep', 'repeat']

In [50]:
s1

'geek'

In [51]:
obj1 = enumerate(l1)

In [52]:
obj1

In [53]:
obj2 = enumerate(s1)

In [54]:
print ("Return type:",type(obj1))

Return type: <class 'enumerate'>

In [55]:
print (list(enumerate(l1)))

[(0, 'eat'), (1, 'sleep'), (2, 'repeat')]

In [76]:
for a,value in enumerate(l1):
    print(a,)

0 - sequence of numebers enumeated
1 - sequence of numebers enumeated
2 - sequence of numebers enumeated

In [64]:
obj1

In [89]:
a=[[1,2,3,4],[1,2,3,4]]

In [90]:
b=[[3,5,6],[3,5,6]]

In [80]:
import numpy as np

In [93]:
a_a=np.array(a)

In [94]:
b_a=np.array(b)

In [95]:
b_a

array([[3, 5, 6],
       [3, 5, 6]])

In [96]:
a_a

array([[1, 2, 3, 4],
       [1, 2, 3, 4]])

In [97]:
a_a*b_a

ValueError: operands could not be broadcast together with shapes (2,4) (2,3)

In [101]:
np.multiply(a_a,3)

array([[ 3,  6,  9, 12],
       [ 3,  6,  9, 12]])

In [102]:
a_a*2

array([[2, 4, 6, 8],
       [2, 4, 6, 8]])

In [108]:
some_list = ['foo', 'bar', 'baz']

In [109]:
mapping = {}

In [110]:
mapping

{}

In [111]:
for i, v in enumerate(some_list):
    mapping[i] = v

In [112]:
mapping

{0: 'foo', 1: 'bar', 2: 'baz'}

In [116]:
mapping[1]

'bar'

In [117]:
some_list = ['Eduardo','Antonio','Ana Paula',"Beth",'Valmir','Karine',"Lucas",'Sergio','FAbio','Augusto',"nunes","Marques","Teixeira","freitas"]

In [118]:
mapping={}

In [119]:
for idx,word in enumerate(some_list):
    mapping[idx]=word

In [124]:
len(mapping)

14

sorted_list={}
for idx,word in enumerate(sorted(some_list)):
    sorted_list[idx]=word

In [142]:
for person in sorted_list:
    if person <=5 and 
        print(sorted_list[person])

Ana Paula
Antonio
Augusto
Beth
Eduardo
FAbio